.navbar-principale{
    padding: 0 30px;
    color: black;
    background-image: linear-gradient(to bottom,rgb(255, 254, 254), rgb(225, 221, 221));
    display: flex;
}
.navbar-principale >div:not(.navbar-principale>div:nth-child(1))::before {
    content: "";
    float: left;
    border-left: 2px solid rgb(0, 0, 0,.5);
    display: block;
    position: relative;
    height: 40px;
    left: -10px;
    top:10px;
        
}

.navbar-principale div:nth-child(1){
    flex-grow: 1;
    color:#ff4070;
    text-transform: capitalize;
    margin-top: 10px;
}
.navbar-principale h1{
    margin: 0;
}
.info{
    display: flex;
}
.info input{
    margin-top: 10px  ;
    height: 30px;
    font-size: 15px;
    width: 280px;
}
.info .social{
    margin: 0 20px;
    text-align: center;
}
.info .social i{
    font-size: 30px;
    margin: 5px ;
}
.info .social h4{
    margin: 0;
}

.register-area i{
    padding: 0 20px;
    padding-top: 20px;
    font-size: 30px;
    color: black;
}
.register-area> div{
    float: right;
}
.register-area> div>button ,.register-area> div>#registrati-btn{
    display: block;
    width: 90px;
    padding: 3px;
    border: 1px solid rgb(0, 0, 0,.05);
    border-radius: 5px;
    margin: 5px 0 ;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    cursor: pointer;
}
#registrati-btn{
    background-color: #ff4070;
    color:white ;
}

.scriviBtn{
    background-image:none ;
    color:  #ff4070;
    background-color: #ff4070;
    position: relative;
    top:15px ;left:-30px;
}